@import 'objects/_list.scss';
@import 'settings/_typography.scss';

.items-wrapper {
  height: 90%;

  & .items {
    transform: translate(0px, 0px);
  }

}

ul {
  @include ul;

  & li {
    @include li;
    justify-content: space-between;
    padding: 1.2rem 0;

    &:nth-child(1n-2) {
      border-bottom: 1px solid #e2e2e2;
    }

    & .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 6px;

      & .pizza-name {
        @include fs-6;
        @include fw-500;
      }

      & .ingredients {
        @include fs-7;
        @include fw-500;
      }

      & .price {
        @include fs-5;
        @include fw-600;
      }
    }
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .text {
    @include fs-7;
    @include fw-500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.4s ease;
    max-height: 16px;
  }

  & .checkbox {
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    & ~ .ingredients-label {
      @include fs-7;
      color: $fc-4;
      cursor: pointer;
      font-weight: 700;
      text-decoration: none;
    }

    & ~ .ingredients-label::before {
      content: attr(data-ingredients);
    }

    &:checked ~ .ingredients-label::before {
      content: attr(data-read-less);
    }

    &:checked ~ .text {
      -webkit-line-clamp: initial;
      max-height: 32px;
    }
  }
}

button.btn-add {
  width: 150px;
}

.empty {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & .fa {
    @include fs-4;
    color: rgb($fc-1-light, 0.5);
  }

  & .empty-text {
    @include fs-5;
    @include fw-500;
    text-align: center;
    max-width: 60%;
  }
}
