<div class="builder">

  <div class="pizza-wrapper">
    <div class="pizza"></div>
    <div class="ingredients" #pizza>
      <div class="salamis">
        <div class="salami"></div>
        <div class="salami"></div>
        <div class="salami"></div>
        <div class="salami"></div>
        <div class="salami"></div>
        <div class="salami"></div>
        <div class="salami"></div>
      </div>
      <div class="pepperonis">
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
        <div class="pepperoni"></div>
      </div>
      <div class="mushrooms">
        <div class="mushroom"></div>
        <div class="mushroom"></div>
        <div class="mushroom"></div>
        <div class="mushroom"></div>
        <div class="mushroom"></div>
        <div class="mushroom"></div>
        <div class="mushroom"></div>
      </div>
      <div class="hams">
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
      </div>
      <div class="basils">
        <div class="basil"></div>
        <div class="basil"></div>
        <div class="basil"></div>
        <div class="basil"></div>
        <div class="basil"></div>
      </div>
      <div class="pineapples">
        <div class="pineapple"></div>
        <div class="pineapple"></div>
        <div class="pineapple"></div>
        <div class="pineapple"></div>
      </div>
      <div class="tomatoes">
        <div class="tomato"></div>
        <div class="tomato"></div>
        <div class="tomato"></div>
        <div class="tomato"></div>
        <div class="tomato"></div>
        <div class="tomato"></div>
      </div>
      <div class="chilis">
        <div class="chili"></div>
        <div class="chili"></div>
        <div class="chili"></div>
        <div class="chili"></div>
        <div class="chili"></div>
      </div>
      <div class="mints">
        <div class="mint"></div>
        <div class="mint"></div>
        <div class="mint"></div>
        <div class="mint"></div>
        <div class="mint"></div>
      </div>
      <div class="peppers-orange">
        <div class="pepper-orange"></div>
        <div class="pepper-orange"></div>
        <div class="pepper-orange"></div>
        <div class="pepper-orange"></div>
        <div class="pepper-orange"></div>
      </div>
      <div class="peppers-yellow">
        <div class="pepper-yellow"></div>
        <div class="pepper-yellow"></div>
        <div class="pepper-yellow"></div>
        <div class="pepper-yellow"></div>
        <div class="pepper-yellow"></div>
      </div>
      <div class="peppers-green">
        <div class="pepper-green"></div>
        <div class="pepper-green"></div>
        <div class="pepper-green"></div>
        <div class="pepper-green"></div>
        <div class="pepper-green"></div>
      </div>
      <div class="onions">
        <div class="onion"></div>
        <div class="onion"></div>
        <div class="onion"></div>
        <div class="onion"></div>
        <div class="onion"></div>
      </div>
      <div class="bacons">
        <div class="bacon"></div>
        <div class="bacon"></div>
        <div class="bacon"></div>
        <div class="bacon"></div>
        <div class="bacon"></div>
        <div class="bacon"></div>
        <div class="bacon"></div>
      </div>
      <div class="olives">
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
        <div class="olive"></div>
      </div>
    </div>
  </div>
</div>
