@import 'settings/_colors.scss';
@import 'settings/_typography.scss';
@import 'elements/_button.scss';

@mixin ingredient {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
}

@mixin ingredient-image($image, $size) {
  background-image: url($image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: $size;
  width: $size;
  filter: drop-shadow(-4px -2px 4px rgba(0, 0, 0, 0.2));

}

@mixin ingredient-position($child, $left, $top) {
  &:nth-child(#{$child}) {
    left: $left;
    top: $top;
  }
}

.builder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .pizza-wrapper {
    width: 290px;
    height: 290px;
    max-width: 290px;
    max-height: 290px;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .pizza {
      background: url('/assets/images/pizza.png') no-repeat center center ;
      filter: drop-shadow(-4px -2px 4px rgba(0, 0, 0, 0.3));
      height: 100%;
      width: 100%;
    }

    & .ingredients {
      position: absolute;
      height: 100%;
      width: 100%;

      & .show {
        opacity: 1 !important;
        transition: 0.3s ease;
      }

      & .olives {
        @include ingredient;

        & .olive {
          @include ingredient-image('/assets/images/ingredients/olives.png', 1.5rem);
          @include ingredient-position(1, 8.5rem, 8.5rem);
          @include ingredient-position(2, 11.5rem, 3.5rem);
          @include ingredient-position(3, 11.8rem, 6.2rem);
          @include ingredient-position(4, 12rem, 10.5rem);
          @include ingredient-position(5, 8.5rem, 12.5rem);
          @include ingredient-position(6, 4.5rem, 5.5rem);
          @include ingredient-position(7, 8.5rem, 3.5rem);
          @include ingredient-position(8, 4.5rem, 10.5rem);
        }
      }

      & .tomatoes {
        @include ingredient;

        & .tomato {
          @include ingredient-image('/assets/images/ingredients/tomato.png', 3rem);
          @include ingredient-position(1, 4rem, 10.5rem);
          @include ingredient-position(2, 4.5rem, 4rem);
          @include ingredient-position(3, 11.5rem, 6.5rem);
          @include ingredient-position(4, 10rem, 10.5rem);
          @include ingredient-position(5, 7.5rem, 7rem);
          @include ingredient-position(6, 9.5rem, 2.5rem);
        }
      }

      & .basils {
        @include ingredient;

        & .basil {
          @include ingredient-image('/assets/images/ingredients/basil.png', 3rem);
          @include ingredient-position(1, 3.5rem, 8.5rem);
          @include ingredient-position(2, 7.5rem, 6.5rem);
          @include ingredient-position(3, 12.5rem, 6.5rem);
          @include ingredient-position(4, 7rem, 2.5rem);
          @include ingredient-position(5, 8.5rem, 11.3rem);
        }
      }

      & .peppers-orange {
        @include ingredient;

        & .pepper-orange {
          @include ingredient-image('/assets/images/ingredients/pepper-orange.png', 3rem);
          @include ingredient-position(1, 6.3rem, 6.8rem);
          @include ingredient-position(2, 5.5rem, 2.5rem);
          @include ingredient-position(3, 4.5rem, 10.5rem);
          @include ingredient-position(4, 10rem, 3.5rem);
          @include ingredient-position(5, 11.4rem, 9.4rem);
        }
      }

      & .peppers-yellow {
        @include ingredient;

        & .pepper-yellow {
          @include ingredient-image('/assets/images/ingredients/pepper-yellow.png', 3rem);
          @include ingredient-position(1, 4.5rem, 10.5rem);
          @include ingredient-position(2, 3.5rem, 5.5rem);
          @include ingredient-position(3, 7.5rem, 2.8rem);
          @include ingredient-position(4, 11.2rem, 11.5rem);
          @include ingredient-position(5, 9.5rem, 7.3rem);
        }
      }

      & .peppers-green {
        @include ingredient;

        & .pepper-green {
          @include ingredient-image('/assets/images/ingredients/pepper-green.png', 3rem);
          @include ingredient-position(1, 3.5rem, 8.5rem);
          @include ingredient-position(2, 3.5rem, 3.5rem);
          @include ingredient-position(3, 8.5rem, 11.5rem);
          @include ingredient-position(4, 11rem, 3.5rem);
          @include ingredient-position(5, 8.5rem, 7.3rem);
        }
      }

      & .pepperonis {
        @include ingredient;

        & .pepperoni {
          @include ingredient-image('/assets/images/ingredients/pepperoni.png', 3.4rem);
          @include ingredient-position(1, 3rem, 8.5rem);
          @include ingredient-position(2, 8rem, 2rem);
          @include ingredient-position(3, 3.5rem, 3.5rem);
          @include ingredient-position(4, 12.5rem, 5rem);
          @include ingredient-position(5, 12rem, 9.5rem);
          @include ingredient-position(6, 7.5rem, 11.5rem);
          @include ingredient-position(7, 8rem, 6.5rem);
        }
      }

      & .mushrooms {
        @include ingredient;

        & .mushroom {
          @include ingredient-image('/assets/images/ingredients/mushroom.png', 3.4rem);
          @include ingredient-position(1, 3.5rem, 9.5rem);
          @include ingredient-position(2, 8rem, 2.5rem);
          @include ingredient-position(3, 3.5rem, 4.5rem);
          @include ingredient-position(4, 11.5rem, 6.5rem);
          @include ingredient-position(5, 10.5rem, 9.5rem);
          @include ingredient-position(6, 6.5rem, 12.5rem);
          @include ingredient-position(7, 7rem, 7.5rem);
        }
      }

      & .salamis {
        @include ingredient;

        & .salami {
          @include ingredient-image('/assets/images/ingredients/salami.png', 3.4rem);
          @include ingredient-position(1, 11.5rem, 10rem);
          @include ingredient-position(2, 6rem, 7.5rem);
          @include ingredient-position(3, 4.5rem, 2.5rem);
          @include ingredient-position(4, 10.5rem, 5.5rem);
          @include ingredient-position(5, 8.5rem, 1.5rem);
          @include ingredient-position(6, 6.5rem, 11.5rem);
          @include ingredient-position(7, 2rem, 6.5rem);
        }
      }

      & .chilis {
        @include ingredient;

        & .chili {
          @include ingredient-image('/assets/images/ingredients/chili.png', 4.5rem);
          @include ingredient-position(1, 9.5rem, 10.5rem);
          @include ingredient-position(2, 3.5rem, 3.5rem);
          @include ingredient-position(3, 9.5rem, 6.5rem);
          @include ingredient-position(4, 8.5rem, 2.5rem);
          @include ingredient-position(5, 4.5rem, 8.5rem);
        }
      }

      & .mints {
        @include ingredient;

        & .mint {
          @include ingredient-image('/assets/images/ingredients/mint.png', 4.5rem);
          @include ingredient-position(1, 11.5rem, 6.5rem);
          @include ingredient-position(2, 3.5rem, 3.5rem);
          @include ingredient-position(3, 8rem, 8.5rem);
          @include ingredient-position(4, 8.5rem, 1.5rem);
          @include ingredient-position(5, 3.5rem, 9.5rem);
        }
      }

      & .onions {
        @include ingredient;

        & .onion {
          @include ingredient-image('/assets/images/ingredients/onion.png', 4.5rem);
          @include ingredient-position(1, 11.5rem, 6.5rem);
          @include ingredient-position(2, 3.5rem, 3.5rem);
          @include ingredient-position(3, 8rem, 10.5rem);
          @include ingredient-position(4, 8.5rem, 2.5rem);
          @include ingredient-position(5, 3.5rem, 8.5rem);
        }
      }

      & .bacons {
        @include ingredient;

        & .bacon {
          @include ingredient-image('/assets/images/ingredients/bacon.png', 4.5rem);
          @include ingredient-position(1, 4.5rem, 10.5rem);
          @include ingredient-position(2, 5rem, 2rem);
          @include ingredient-position(3, 2.5rem, 5.5rem);
          @include ingredient-position(4, 9.5rem, 2rem);
          @include ingredient-position(5, 12.5rem, 6rem);
          @include ingredient-position(6, 9.5rem, 10.5rem);
          @include ingredient-position(7, 7rem, 6.5rem);
        }
      }

      & .pineapples {
        @include ingredient;

        & .pineapple {
          @include ingredient-image('/assets/images/ingredients/pineapple.png', 4.5rem);
          @include ingredient-position(1, 10.5rem, 9rem);
          @include ingredient-position(2, 4rem, 3.5rem);
          @include ingredient-position(3, 10rem, 3.5rem);
          @include ingredient-position(4, 4.5rem, 9.5rem);
        }
      }

      & .hams {
        @include ingredient;

        & .ham {
          @include ingredient-image('/assets/images/ingredients/ham.png', 3.5rem);
          @include ingredient-position(1, 4.5rem, 10.5rem);
          @include ingredient-position(2, 5rem, 2rem);
          @include ingredient-position(3, 2.5rem, 5.5rem);
          @include ingredient-position(4, 9.5rem, 2rem);
          @include ingredient-position(5, 12.5rem, 6rem);
          @include ingredient-position(6, 9.5rem, 10.5rem);
          @include ingredient-position(7, 7rem, 6.5rem);
        }
      }
    }
  }
}
