<div class="container overflow">
  <div class="options-header">
    <app-btn-back [page]="'cart'"></app-btn-back>
    <span class="title">Tu pedido</span>
  </div>

  <div class="items-wrapper" *ngIf="cart">
    <div class="items">
      <span class="title"> Opciones de Pago </span>
      <ul class="methods">
        <li class="item" *ngFor="let payment of paymentMethods">
          <label [class.disabled]="!payment.enabled || !enoughtCredits()">
            <input type="radio" name="radio" [disabled]="!payment.enabled || !enoughtCredits()"
              (change)="selectMethod(payment.id)" [checked]="payment.selected" />
            <div class="label-text">
              <div class="wrapper">
                <div class="icon">
                  <i class="fa" [ngClass]="payment.icon"></i>
                </div>
                <p class="method">{{ payment.name }}
                  <span *ngIf="!payment.enabled" class="comming">comming soon</span>
                  <span class="credits" [class.not-enough]="!enoughtCredits()" *ngIf="payment.id === 1">
                    {{ payment.credits | currency: '$ ' }}
                  </span>
                </p>
              </div>
            </div>
          </label>
        </li>
      </ul>
      <span class="title"> Resumen de Pedido </span>
      <ul class="resume">
        <li class="item">
          <span class="title">Costo de productos</span>
          <span class="total">{{ cart.total | currency: '$ ' }}</span>
        </li>
        <li class="item">
          <span class="title">Costo de envio</span>
          <span class="total">{{ 0 | currency: '$ ' }}</span>
        </li>
        <li class="item">
          <span class="title">Propina</span>
          <span class="total">{{ 0 | currency: '$ ' }}</span>
        </li>
      </ul>
    </div>
    <div class="options">
      <div class="total-container">
        <span class="title">{{ cart.total | currency: '$ ' }}</span>
        <span class="subtitle">Total a pagar</span>
      </div>
      <button class="btn-add" [disabled]="!hasSelectedMethod() || cart.items.length === 0" (click)="pay()">
        Realizar Pedido
      </button>
    </div>
  </div>
</div>
