@import 'settings/_colors.scss';
@import 'settings/_typography.scss';

.container {
  position: relative;
  width: 100%;
  height: 100%;

  & .builder {
    height: 45%;
    display: flex;
    flex-direction: column;

    & app-preview-pizza {
      height: 100%;
      width: 100%;
    }
  }
}

.btn-transparent {
  position: relative;
  gap: 0;
  width: 40px;
  & .quantity {
    transition: 0.4s ease;
  }
}

.fit-button {
  width: fit-content;
}


.fa-basket-shopping {
  @include fs-4;
}
