@import 'settings/_typography.scss';
@import 'settings/_colors.scss';
@import 'elements/_button.scss';
@import 'elements/_selection.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  &:focus {
    outline: none;
  }
}

:root {
  --bg: #{$bg-light};
  --bg-mobile: #{$bg-mobile-light};

  --fc-1: #{$fc-1};
  --fc-2: #{$fc-2};

  --fc-1-light: #{$fc-1-light};

}

.container {
  padding: 1.5rem 1.8rem;
  background: var(--bg-mobile);

  &.overflow {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.options-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .fa {
    @include fs-5;
    transition: 0.4s ease;
    padding: 0.5rem;
    border-radius: 50%;
  }

  & .fa.fa-arrow-left:hover {
    cursor: pointer;
    color: $fc-3;
    background-color: $bg-hover-1;
  }

  & .title {
    @include fs-5;
    @include fw-600;
  }
}

.items-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 30;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  opacity: 1;
  height: 55%;
  transition: 0.2s ease-in-out;
  background: #fafafa;

  & .items {
    height: 100%;
    overflow-y: auto;
  }

  & .options {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding: 1rem 1.8rem 1.5rem;
    z-index: 10;

    & .total-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column-reverse;

      &:hover {
        cursor: pointer;
      }

      & .title {
        @include fs-3;
        @include fw-600;
      }

      & .subtitle {
        @include fs-7;
        @include fw-500;
      }
    }
    & .btn-add {
      @include btn;
      @include btn-secondary;

      &:disabled {
        @include btn-secondary-disabled;
      }
    }
  }
}

.btn-transparent {
  @include btn;
  @include btn-transparent;

  &:hover {
    background-color: #e7e7e7;
  }

  &:not(:disabled).text-secondary {
    color: $fc-4;
  }

  &:disabled {
    @include btn-transparent-disabled;
  }

}

.items::-webkit-scrollbar,
.mobile::-webkit-scrollbar {
  width: 4px;
  border-radius: 2.2rem;
  background-color: $bg-mobile-light;
}

.items::-webkit-scrollbar-track,
.mobile::-webkit-scrollbar-track {
  background-color: $bg-mobile-light;
}

.items::-webkit-scrollbar-thumb,
.mobile::-webkit-scrollbar-thumb {
  background-color: $bg-scroll;
  border-radius: 1rem;
}

.items::-webkit-scrollbar-thumb:hover,
.mobile::-webkit-scrollbar-thumb:hover {
  background: $bg-scroll;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.items::-webkit-scrollbar-thumb:active,
.mobile::-webkit-scrollbar-thumb:active {
  background: $bg-scroll;
}

@mixin ingredient-description {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 0 auto 0 0;
}

@mixin ingredient-selection {
  &::selection {
    background: transparent;
  }
}

label {
  cursor: pointer;
  color: #383A3F;
  display: block;
  font-size: 1.2em;
  width: 100%;

  &.disabled {
    cursor: default;
  }

  & input[type="checkbox"], input[type="radio"] {
    display: none;

    &:disabled {
      cursor: default;
    }

    &+.label-text:hover:before {
      color: #fe4365;
      transition: 0.4s;
    }
  }
  & input[type="checkbox"] {
    &+.label-text:before {
      @include label-text-before("\f096");
    }

    &:checked+.label-text:before {
      @include label-text-checked-before("\f14a");
    }

    &:disabled+.label-text:before {
      @include label-text-disabled-before("\f0c8");
    }
  }

  & input[type="radio"] {
    &+.label-text:before {
      @include label-text-before("\f10c");
    }

    &:checked+.label-text:before {
      @include label-text-checked-before("\f192");
    }

    &:disabled+.label-text:before {
      @include label-text-disabled-before("\f111");
    }
  }

  & .label-text {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  & .ingredient {
    @include ingredient-description;

    &.has-image {
      flex-direction: row;
      gap: 10px;

      & .description {
        @include ingredient-description;
      }
    }

    picture {
      width: 30px;
      height: 30px;
      @include ingredient-selection;

      & img {
        object-fit: contain;
        width: inherit;
        height: inherit;
      }
    }

    & .name {
      @include ingredient-selection;
      @include fs-7;
      @include fw-500;
    }

    & .price {
      @include ingredient-selection;
      @include fs-6;
      @include fw-600;
    }
  }
}

@media (max-width: 378px) {
  .container {
    padding: 1.3rem 1.5rem;
  }
}
