@import 'settings/_shadows.scss';

@mixin card-pizza {
  @include bxs-1;
  width: 100%;
  min-height: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 1.5rem;
  padding: 0.8rem;
}